*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: cadetblue;
    border-radius: 20px;
    padding: 30px;
}

.laberinto {
    border: 3px solid black;
    margin: 5px;
    padding: 10;
    justify-content: space-around;
    display: flex;
}

.mapa {
    display: grid;
    margin: 10px;
    border: 5px solid red;
}

.position {
    display: flex;
    border: 1px solid red;
    align-items: center;
}

.row {
    display: flex;
}

.wall {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
}

.space {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
}

.barrier {
    width: 100px;
    height: 100px;
    background-color: rgb(78, 204, 19);
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;

}

.penguin1 {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
}

.penguin2 {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
}

.life {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
}