*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: cadetblue;
    border-radius: 20px;
    padding: 30px;
}

.position {
    display: flex;
    border: 1px solid red;
    align-items: center;
}







/* Game elements*/

.labyrinth {
    display: grid;
    margin: 10px;
    border: 5px solid red;
}

.wall {
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
}

.space {
    background-color: white;
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
}

.barrier {
    background-color: rgb(78, 204, 19);
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;

}

.penguin1 {
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
    background-image: url(resources/penguin1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.penguin2 {
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
    background-image: url(resources/penguin2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.life {
    border: 2px solid rgb(180, 173, 173);
    border-radius: 10px;
    background-image: url(resources/life.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.same {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.wall, .space, .barrier, .penguin1, .penguin2, .life, .same {

    width: 30px;
    height: 30px;
}