*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.main {
    background-color: cadetblue;
    border-radius: 20px;
    padding: 30px;
}

.mapa {
    border: 5px solid red;
}

.position {
    border: 3px solid red;
}

.laberinto {
    border: 3px solid black;
    margin: 5px;
    padding: 10;
}